@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-ui-midnight text-ui-secondary;
}
button[data-testid="rk-connect-button"] {
  background-color: #9afc1f !important ; /* Change button color */
  border: none;
  color: #090909 !important;
  padding: 10px 20px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 400 !important;
  cursor: pointer;
  border-radius: 7px !important;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
